#signup-form .modal-title{
    margin-left: auto;
    text-transform: uppercase;
}

#signup-form{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-color: rgba(26, 71, 100, 0.61) !important;
}

#signup-form label{
    color: #007bff;
}

#signup-form .card-header h3{
    color: white;
}