.social_icon{
    position: absolute;
    left: 0;
    right: 11px;
    margin: 0 auto;
    top: -48px;
    z-index: 9999;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    /* color: #FFC312; */
}

.social_icon .fa-facebook-square{
    color: #3b5998;
}
.social_icon .fa-google-plus-square{
    color: #4285F4;
}
.social_icon .fa-twitter-square{
    color: 	#1DA1F2;
}
.social_icon .fa-linkedin-square{
    color: 	#0072b1;
}

.social_icon .fa:hover{
    opacity: 0.5;
    cursor: pointer;
}